<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="highsky_shared" frontName="highsky_shared">
            <module name="HighSky_Shared"/>
        </route>
    </router>
</config>
