<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="highsky_products" translate="label" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>HighSky Products</label>
            <tab>catalog</tab>
            <resource>HighSky_Products::config</resource>
            <group id="api_columns" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Columns</label>
                <field id="enabled_columns" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Columns</label>
                    <comment>Select which columns should be included in the product sync API response.</comment>
                    <source_model>HighSky\Products\Model\Config\Source\AvailableColumns</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
