<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <highsky_products>
            <api_columns>
                <enabled_columns>id,sku,name,price,special_price,special_from_date,special_to_date,cost,tax_class_id,category_names,created_at,updated_at,status,visibility,image_url,qty,is_in_stock,manage_stock,use_config_manage_stock,backorders,min_qty,min_sale_qty,max_sale_qty,notify_stock_qty,enable_qty_increments,qty_increments,variants</enabled_columns>
                <extra_attribute_codes></extra_attribute_codes>
            </api_columns>
        </highsky_products>
    </default>
</config>
