<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <highsky_products>
            <general>
                <module_enabled>1</module_enabled>
                <tenant_id></tenant_id>
            </general>
            <tracking>
                <enabled>1</enabled>
                <auth_required>1</auth_required>
                <widget_enabled>0</widget_enabled>
                <widget_script_url>https://cfe.highsky.ai/highsky-chatwidget.js</widget_script_url>
                <user_order_history_limit>20</user_order_history_limit>
            </tracking>
            <security>
                <rate_limit_enabled>1</rate_limit_enabled>
                <requests_per_minute>60</requests_per_minute>
            </security>
        </highsky_products>
    </default>
</config>
