<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <highsky_products>
            <general>
                <module_enabled>1</module_enabled>
            </general>
            <tracking>
                <enabled>1</enabled>
                <auth_required>1</auth_required>
                <widget_enabled>0</widget_enabled>
                <user_order_history_limit>20</user_order_history_limit>
            </tracking>
        </highsky_products>
    </default>
</config>
